In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\IT PARK\AppData\Local\Temp\ipykernel_5520\2151744951.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df=pd.read_csv(r"E:\Python\MachineLearniing\LinearRegresson\student_scores.csv")
df

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [6]:
df.shape

(25, 2)

In [7]:
df.dtypes

Hours     float64
Scores      int64
dtype: object

In [8]:
df.isna().sum()

Hours     0
Scores    0
dtype: int64

In [9]:
df.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [11]:
# Outlier will chec for only feature not for target variables.

In [10]:
# Checing the Outlier for hours column
q3=df.Hours.quantile(0.75)
q1=df.Hours.quantile(0.25)
iqr=q3-q1
upper_threshold=q3+(1.5*iqr)
lower_threshold=q1-(1.5*iqr)
upper_threshold,lower_threshold

(14.450000000000001, -4.3500000000000005)

In [12]:
df=df.drop_duplicates()

In [13]:
df.shape

(25, 2)