# **Day1**

In [1]:
tamil,english,maths=88,99,77
print(tamil,english,maths)

88 99 77

In [11]:
percentage=(tamil+english+maths)/3
print(round(percentage,2))

88.0

# **Day2**

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
num=23
print(type(num))

<class 'int'>

# **Day3**

In [1]:
name="Neelaandan"
print(name)

Neelaandan

In [3]:
address="""199,palani
dindugul,tamilnadu.
"""
print(address)

199,palani
dindugul,tamilnadu.

In [1]:
sentence='I\'m fine'
sentence

"I'm fine"

In [2]:
#String slicing
name="Lanscape"
name[0]

'L'

In [8]:
name[-5:]

'scape'

In [1]:
l=[1,7,6,9,8,7.77,0,7]
print(l[::2])

[1, 6, 8, 0]

In [4]:
l[::-1]

[7, 0, 7.77, 8, 9, 6, 7, 1]

In [6]:
print(5*'nnn ')

nnn nnn nnn nnn nnn

In [8]:
5+'k'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# **Day 4**

In [1]:
print(int(123.88))

123

In [2]:
float(True)

1.0

In [3]:
bool(0)

False

In [4]:
bool(2.5)

True

In [5]:
bool(-1)

True

In [6]:
bool(False)

False

In [7]:
print(str(10))
print(str(True))
print(str(2.3))

10
True
2.3

In [9]:
print(str("1.0.88"))

1.0.88

In [11]:
roll=56
print(type(roll))

<class 'int'>

class ---> all datatypes are class

In [13]:
#Memory Address
print(id(roll))

140707016665608

In [18]:
state1='Tamilnadu'
state2='Tamilnadu'
print(id(state1),id(state2))

2774707960688 2774707960688

In [ ]:
#constant letters are in uppercase
INTREST_RATE=5

In [22]:
print("I\'m Neelan")
print("Hi Neelan")
print("hi \tNeel")

I'm Neelan
Hi Neelan
hi 	Neel

In [23]:
print(9+7)
print(7-9)
print(10*7)
print(8/2)
print(8//4)
print(8%4)
print(8**2)

16
-2
70
4.0
2
0
64

In [24]:
#Relational operators,Equality
# > >= < <= ! != ==

In [ ]:
#Logical
# And,Or,not

In [2]:
a=100
b=200
min= a if a<b else b
min

100

In [6]:
#Identity operator
a=10
b='10'
print(a==b)
print(a is b)
print(10=='10')

False
False
False

# **Day 6**

In [1]:
name=input("enter the name")
name

'Neel'

In [2]:
type(name)

str

In [3]:
res=eval(input("enter the arthimetic operations "))
res

-9

In [11]:
a,b,c=100,700,89
print(a,b,c, end=':')

100 700 89:

In [10]:
print(a,b,c,sep=':')

100:700:89